*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
main{
    display:  flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding-top: 7rem;

}
section{
    width: 100%;
}
.entry{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    gap: .5rem;
    
}
.Main{
    font-size: 30px;
    font-weight:bold;
    color:#0A035E;
    
}
.subtitle{
   
    text-align: center;
}
.Images{
    display:  flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 1rem;
    
}
.side{
    display:  flex;
    flex-direction: column;
    gap: 8px;
}
.entry img{
    border:transparent solid  4px;
    border-radius: 10px;
    height: 270px;
    width: 259px;
    
}

.side img:nth-child(1){
     height: 200px;
     width: 200px;
     object-fit: cover;
     
}
.side img:nth-child(2){
     height: 220px;
     width: 220px;
     object-fit: cover;
     object-position: -10px;
     
}
.Reach_out{
    display:  flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:1rem;

}
.sub_Main{
    color:#0A035E;
    font-weight:bold;
    font-size: 1.25rem;
}
.contacts{
    display:  flex;
    gap:1rem;
    align-items: flex-start;
    justify-content:space-between;
}

.contact{
    display: flex;
    gap:0.25rem;
    justify-content: center;
    align-items: flex-start;
    border:2px solid #0A035E;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 3px 3px 8px #0A035E;
    
}
.contact img{
    height: 30px;
}
.Contact_info{
    display: flex;
    flex-direction: column;

}
.Contact_info .info{
    font-size: 0.8rem;
}
.stories{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:2rem;
}
.stories img{
    width:  25vw;
    border-radius: 40px;

}
.story{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    border:1px solid #0A035E;
    width: 70%;
    padding: 1rem;
    border-radius: 10px;
}
.text{
    display: flex;
    flex-direction: column;
    width: 30vw;
}
.title{
    color:#0A035E;
    font-size: 1.5rem;
    font-weight: bold;
}

.reviews{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.review{
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
img.controls{
    height: 40px;
    border: 2px solid #0A035E;
   padding:2px;
   border-radius: 10px;
}

.others{
    height: 100px;
    width: 100px;
    object-fit: cover;
    border-radius: 50%;
}
.main_img{
    height: 175px;
    width: 175px;
    object-fit: cover;
    border-radius: 50%;
}

.images{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .25rem;
}
.profiles{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}
.person_msg{
    text-align: center;
    width: 50vw;
}
.person_info{
    color:#0A035E;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.shopping_sec{
    width: 75%;
    display: flex;
    gap:.5rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    background-color: lch(78.03% 31.45 247.34 / 0.36);
    margin-bottom: 1rem;
    border-radius: 10px;
}

.shopping_btn{
    color:white;
    background-color: #0A035E;
    padding: 1rem;
    border-radius: 10px;
    text-decoration: none;
}
