.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #ffffff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .logo {
    display: flex;
    align-items: center;
  }
  
  .logo-img {
    width: 60px;
    height: auto;
    margin-right: 10px;
  }
  
  .logo-text {
    font-size: 24px;
    font-weight: bold;
    color: #ff4500;
  }
  
  .nav-links {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .nav-links li {
    margin-right: 20px;
  }
  
  .nav-links a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
  }
  
  .nav-links a:hover {
    color: #1f1caf;
  }
  
  .dropdown-arrow {
    font-size: 12px;
  }
  
  .search-bar {
    flex-grow: 1;
    max-width: 300px;
    margin: 0 20px;
  }
  
  .search-input {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 20px;
    outline: none;
  }
  
  .user-actions {
    display: flex;
    align-items: center;
  }
  
  .account-icon, .cart-icon {
    font-size: 20px;
    margin-left: 15px;
    text-decoration: none;
    color: #333;
  }
  
  .account-icon:hover, .cart-icon:hover {
    color: #07328f;
  }